astroid==1.4.9
click==6.7
colorama==0.3.7
Django==1.10.5
Flask==0.12
gunicorn==19.6.0
isort==4.2.5
itsdangerous==0.24
Jinja2==2.9.4
lazy-object-proxy==1.2.2
MarkupSafe==0.23
mccabe==0.5.3
olefile==0.44
peewee==2.8.5
Pillow==4.0.0
pylint==1.6.4
six==1.10.0
virtualenv==15.1.0
virtualenvwrapper-win==1.2.1
Werkzeug==0.11.15
wrapt==1.10.8
